
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --gradient: linear-gradient(90deg, hsla(0, 100%, 97%, 1) 2%, hsla(0, 44%, 96%, 1) 50%, hsla(0, 100%, 97%, 1) 100%);
  --header: linear-gradient(90deg, hsla(0, 99%, 73%, 1) 0%, hsla(0, 100%, 85%, 1) 50%, hsla(0, 99%, 73%, 1) 100%);
  --primary: #331100;
  --text: #F0F2CB;
  --secondary: #fafafa;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}


body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background-image: var(--gradient);
  color: var(--primary);
  font-family: 'Poiret One', cursive;
}

.footer {
  text-align: center;
  width: 100%;
  bottom: 0;
  font-size: 40px;
  position: fixed;
}

.footer a {
  margin: 0 40px;
  color: var(--primary)
}

.project-row {
  gap: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 25px 0;
  line-height: 1.25;
}


.heading {
  height: 12vw;
  background-image: var(--header);
}


p {
  font-size: 1.1rem;
  margin-top: 0;
  line-height: 1.65;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--dark);
}

header a {
  color: var(--primary);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}


form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

span, .aboutMe {
  font-size: 30px;
  margin: 0 20px;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  text-align: center;
}


button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;

	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;	
}

.navActive {
  color: var(--secondary);
}