:root {
  --primary: #331100;
  --text: #f9653e;
  --secondary: #fafafa;
  --boxOne: rgba(0, 0, 0, 0.1);
  --boxTwo: rgba(0, 0, 0, 0.5);
  --formBorder: #c4c4c4;
  --formBack: #fff;
  --clear: #ffffff00;
  --colorShadeA: rgb(51, 17, 0);
  --colorShadeB: rgba(255, 232, 232);
  --colorShadeC: rgb(253, 240, 240);
  --gradient: linear-gradient(
    180deg,
    hsla(72, 100%, 98%, 0.9) 0%,
    hsla(62, 57%, 92%, 0.9) 50%,
    hsla(72, 100%, 98%, 0.9) 100%
  );
  --shadow: 1px 1px 1px #331100, 1px 12px 6px rgba(16, 16, 16, 0.4),
    1px 14px 10px rgba(16, 16, 16, 0.2), 1px 16px 35px rgba(16, 16, 16, 0.2),
    1px 18px 60px rgba(16, 16, 16, 0.4);
  --navShadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
  --cardShadow: 1px 1px 1px #ec7373, 1px 2px 1px #f58787,
    1px 18px 6px rgba(88, 40, 40, 0.4), 1px 22px 10px rgba(66, 44, 44, 0.2),
    1px 25px 35px rgba(83, 44, 44, 0.2), 1px 30px 60px rgba(88, 32, 32, 0.4);
}

* {
  box-sizing: border-box;
}

/* general style */
html,
body {
  min-height: 100%;
  position: relative;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 70px;
}

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 35px 30px;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: 0.1em;
  background-image: var(--gradient);
  color: var(--primary);
  font-family: Helvetica, Arial, sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin: 25px 0;
  line-height: 1.25;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin: 15px 0 40px 0;
  line-height: 1.25;
  text-shadow: var(--shadow);
}

p {
  font-size: 22px;
  line-height: 1.65;
  font-weight: normal;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

/* header style */
.heading {
  min-height: 10vw;
  background-size: cover;
  background-position: center;
}

.heading h1 {
  margin: 0;
}

nav li {
  list-style: none;
  transition: all 0.4s linear;
  border-radius: 15px;
  margin: 0 7px;
  font-weight: bold;
}

nav li:hover {
  text-shadow: var(--shadow);
}

.navActive {
  color: var(--secondary);
  text-shadow: var(--navShadow);
}

span {
  font-size: 30px;
  margin: 0 20px;
}

/* footer style */
footer {
  text-align: center;
  width: 100%;
  font-size: 40px;
  position: absolute;
  bottom: 0px;
}

footer a {
  margin: 0 40px;
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px 4px;
  transition: all 0.5s linear;
}

footer a:hover {
  text-decoration: none;
  background-color: var(--primary);
  color: var(--secondary);
}

/* Portfolio page style */
img {
  max-width: 100%;
}

form {
  width: 40%;
}

input {
  width: 90%;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--formBorder);
  outline: none;
  border-radius: 3px;
  background-color: var(--formBack);
  box-shadow: inset 0 3px 6px var(--boxOne);
  transition: box-shadow 0.2s;
  color: var(--primary);
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem var(--boxTwo);
}

.project-row {
  gap: 70px;
}

.card {
  width: 26%;
  text-align: center;
  background-color: var(--clear);
  border: none;
}

.card:hover .card-img {
  opacity: 0.2;
  transition: all 0.4s;
}

.card .card-title,
.card .card-text {
  display: none;
}

.card:hover .card-title,
.card:hover .card-text {
  display: contents;
  font-size: 23px;
}

.card-title,
.card-text {
  color: var(--primary);
}

.card-title:hover,
.card-text:hover {
  text-decoration: none;
  color: var(--text);
  text-shadow: var(--cardShadow);
}

.card i {
  margin: 8px;
}

/* contact page style */
textarea {
  width: 90%;
  height: 120px;
  border: 1px solid var(--formBorder);
  border-radius: 3px;
  padding: 5px;
  background-color: var(--formBack);
  box-shadow: inset 0 3px 6px var(--boxOne);
  color: var(--primary);
}

textarea:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem var(--boxTwo);
  outline-color: var(--formBack);
}

label {
  margin-bottom: 0;
}

#contact-form div {
  margin: 15px 0;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 18px;
  color: var(--colorShadeA);
  text-transform: uppercase;
  font-family: inherit;
  padding: 9px;
  border: 2px solid var(--colorShadeA);
  border-radius: 10px;
  background: var(--colorShadeC);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeA);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeA);
  transform: translate3d(0, 0.45em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button:hover {
  background: var(--colorShadeB);
  transform: translate(0, 0.375em);
}

button:hover::before {
  transform: translate3d(0, 0.45em, -1em);
}

button:active {
  transform: translate(0em, 0.45em);
}

button:active::before {
  transform: translate3d(0, 0, -1em);
  box-shadow: 0 0 0 2px var(--colorShadeA), 0 0.25em 0 0 var(--colorShadeA);
}

button:focus {
  outline: none;
}

/* resume page style */
.resume {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
  transition: all 0.4s linear;
}

.resume:hover {
  color: var(--text);
  text-decoration: none;
  text-shadow: var(--shadow);
}

.skill li {
  list-style: none;
  margin: 8px 0;
  font-size: 22px;
}

/* media query for screen = < 1200px */
@media screen and (max-width: 1200px) {
  span {
    font-size: 20px;
    margin: 0 15px;
  }

  .heading h1,
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }

  #contact-form div {
    margin: 13px 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 23px;
  }

  .skill li {
    font-size: 20px;
  }

  footer {
    font-size: 38px;
  }
}

/* media query for screen = < 980px */
@media screen and (max-width: 980px) {
  span {
    font-size: 20px;
    margin: auto;
  }

  .heading h1,
  h1 {
    font-size: 23px;
  }

  p {
    font-size: 15px;
  }

  #contact-form div {
    margin: 10px 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
  }

  .skill li {
    font-size: 18px;
  }

  .card {
    width: 29%;
  }

  .card:hover .card-title,
  .card:hover .card-text {
    font-size: 20px;
  }
}

/* media query for screen = < 768px */
@media screen and (max-width: 768px) {
  .heading {
    row-gap: 20px;
  }

  span {
    font-size: 22px;
    margin: auto;
  }

  .heading h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 26px;
  }

  .heading nav {
    display: contents;
  }

  nav li {
    margin: 0 10px;
  }

  .about {
    width: 50%;
    margin-bottom: 25px;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }

  p {
    font-size: 16px;
  }

  #contact-form div {
    margin: 10px 0;
  }

  .contact-img {
    width: 55%;
  }

  .card {
    width: 80%;
  }

  .resume-container {
    text-align: center;
  }

  .skill {
    padding-inline-start: 0;
  }
}

/* media query for screen = < 575px */
@media screen and (max-width: 575px) {
  span {
    font-size: 18px;
    margin: auto;
  }

  p {
    font-size: 14px;
  }

  .card {
    width: 90%;
  }

  footer {
    font-size: 34px;
  }
}

/* media query for screen = < 392px */
@media screen and (max-width: 392px) {
  footer {
    font-size: 30px;
  }

  footer a {
    padding: 0;
    margin: 0 18px;
  }

  .card {
    width: 100%;
  }
}
